.service-card {
  cursor: pointer;
  display: flex;
  position: relative;
  bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 12px;
  background: linear-gradient(-45deg, #212428, #212428);
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  transition: bottom 0.3s ease-in-out;
}
.service-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  border-radius: 12px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.service-card:hover::after {
  opacity: 1;
}
.service-card:hover {
  bottom: 10px;
}
