.tab-button-content {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #212428;
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
}
.tab-button-content ui {
  margin: auto;
}
.tab-button {
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: white;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(-45deg, #21242800, #21242800);
  transition: color 0.3s ease;
}

.tab-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tab-button:hover::after {
  opacity: 1;
}

.tab-button:hover {
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  color: #ff014f;
}
.active-tab {
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  color: #ff014f;
}
.active-tab::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  border-radius: 5px;
}

.skill-container {
  background: linear-gradient(-45deg, #21242800, #21242800);
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  padding: 30px;
  border-radius: 14px;
}

.skill-container h2 {
  color: #ff014f;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.skill-container p {
  color: #c4cfde;
  padding: 1rem 2rem;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 23px #1b1e21, -10px -10px 23px #272a2f;
}

.timeline-card {
  position: relative;
}

.timeline-card::before {
  content: " ";
  background: #212428;
  z-index: 2;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 4px black;
  transform: translateX(100%);
}
.timeline-card:hover::before {
  background: #ff014f;
}
.timeline-card::after {
  content: " ";
  position: absolute;
  left: 2%;
  background: black;
  width: 88px;
  height: 3px;
}

.education-card {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  bottom: 0px;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 12px;
  background: linear-gradient(-45deg, #212428, #212428);
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  transition: bottom 0.3s ease-in-out;
}
.education-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  border-radius: 12px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.education-card:hover::after {
  opacity: 1;
}
