.contact-card {
  position: relative;
  z-index: 1;
  color: white;
  border-radius: 20px;
  background: linear-gradient(-45deg, #21242800, #21242800);
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  transition: color 0.3s ease;
}

.contact-image img {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.contact-card:hover .contact-image img {
  transform: scale(1.2);
}

.contact-card form input {
  background: #191b1e;
  border: 2px solid black;
  padding: 25px;
  box-shadow: inset 2px 2px 7px #0a0b0c, inset -2px -2px 7px #282b30;
}
.contact-card form textarea {
  background: #191b1e;
  border: 2px solid black;
  padding: 15px 20px;
  box-shadow: inset 2px 2px 7px #0a0b0c, inset -2px -2px 7px #282b30;
}
.contact-card form label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: #a0a8b3;
}

.send-mail-button {
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #0097e6;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(45deg, #212428, #212428);
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  transition: color 0.3s ease;
}

.send-mail-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.send-mail-button:hover::after {
  opacity: 1;
}

.send-mail-button:hover {
  box-shadow: 5px 5px 10px #101113, -3px -3px 10px #32373d;
  color: #0097e6;
}
.send-mail-button i {
  margin-left: 8px;
  transition: margin-left 0.4s ease;
}
.send-mail-button:hover i {
  margin-left: 20px;
}

.error {
  text-align: left;
  margin-top: 5px;
  margin-bottom: -18px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  color: red;
}
