.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin: 8rem auto;
}
.image {
  border-radius: 15px;
  background: #212428;
  box-shadow: 13px 13px 26px #171a1c, -13px -13px 26px #2b2e34;
}

.action-box {
  cursor: pointer;
  font-size: 20px;
  width: 4rem;
  height: 4rem;
  display: flex;
  position: relative;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(-45deg, #212428, #212428);
  box-shadow: 10px 10px 20px #1b1e21, -10px -10px 20px #272a2f;
  transition: all 0.3s ease-in-out;
}
.action-box:hover {
  position: relative;
  bottom: 5px;
  background: linear-gradient(-45deg, #19191b, #23272b);
  transition: all 0.2s ease-in-out;
}
